@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(controller: de.htwg.se.orderandchaos.control.controller.Controller, error: String, user:models.User)(implicit request: RequestHeader, message: Messages, webJarsUtil:WebJarsUtil, assets:AssetsFinder)
    @size = @{
        de.htwg.se.orderandchaos.model.grid.Grid.WIDTH
    }

    @grid = @{
        controller.grid
    }

    @main("Order and Chaos",Some(user)) {
        <script src="@assets.path("javascripts/vue.js")"></script>
        <script src="@assets.path("javascripts/oacvue.js")"></script>

        <link rel="stylesheet" href='@assets.path("stylesheets/orderandchaos.css")' />

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="turn text-light" id="top-text">Turn: @controller.turn</h1>
                </div>
            </div>
            <div id="game" class="row">
                <my-game-field></my-game-field>
                <my-buttons></my-buttons>
            </div>
            @if(!(error equals "")) {
                <div class="row">
                    <div class="alert alert-danger error-message">
                    @error
                    </div>
                </div>
            }
        </div>
    }
